* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: linear-gradient(135deg, rgb(219, 207, 164), beige);

}

#search { /*For the input*/
    width: 38%;
    padding: 1%;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px grey;
}
::placeholder {
    color: darkgreen;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    gap: 20px;
}
.gallery a{
    transition-duration: 0.4s;
    transition-property: all;
}
.gallery a:hover {
    transform: scale(1.05);
    box-shadow: -2px 3px 10px darkgray;
}

.search {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

